@media (max-width: 767px) {
  .navbar-content {
    display: none;
  }
  .navbar-content-center-mobile {
    display: flex;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .navbar-content {
    display: flex;
  }
  .navbar-content-center-mobile {
    display: none;
  }
}
